<h1>Tweeteur <%= image_tag 'twitter.png', width: 70 %> </h1>

<p>
  Start tweeting with the form below:
</p>

<br />

  <div class="form_tag">
    <%= form_tag({controller: "home", action: "index"}, method: "get") do %>
    <%= text_field_tag :tweet %><br /><br />
    <%= submit_tag 'Twitter', class:"btn btn-primary" %>
    <% end %>
  </div>

<footer>
  Made with love by Gus - 2017
</footer>
